@font-face {
  font-family: "HelveticaNeue";
  src: url("assets/fonts/HelveticaNeue.ttc");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "HelveticaNeue", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

input:focus {
  outline: 1.8px solid #8ac0e2;
}

select:focus {
  outline: none;
}
